In [18]:
#google class room code = hkuosyt
a=5
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a**b)
print(a%b)

7
3
10
2.5
2
25
1

In [9]:
c=int(input("Enter number"))
print(c)

Enter number:4
4

In [10]:
print(type(c))

<class 'int'>

In [12]:
n=1.5
print(type(n))
print(int(n))
print(type(int(n)))

<class 'float'>
1
<class 'int'>

In [14]:
a=9
print(type(a))
print(float(a))
print(type(float(a)))

<class 'int'>
9.0
<class 'float'>

In [16]:
a='hello'
b='world'
print(a+b)
print(a,b)

helloworld
hello world

In [19]:
z=2
x=5

In [20]:
print(z==x)

False

In [21]:
print(z!=x)

True

In [22]:
print(z>x)

False

In [23]:
print(z<x)

True

In [24]:
print(z>=x)

False

In [25]:
print(z<=x)

True

In [28]:
print(5.6)
print(round(5.6))

5.6
6

In [29]:
print(round(4.556677))
print(round(4.556677,2))

5
4.56

In [30]:
divmod(9,4)

(2, 1)

In [32]:
print(isinstance(1,int))

True

In [33]:
print(isinstance(1,float))

False

In [35]:
print(isinstance(1,(float,int)))

True

In [36]:
print(pow(2,3))

8

In [38]:
print(pow(2,3,2))

0

In [40]:
print(range(3))
print(range(3,9))
print(range(3,9,2))

range(0, 3)
range(3, 9)
range(3, 9, 2)

In [56]:
abc="helloo"
xyz = 4.5
print(type(xyz))
print("we are in class %s say %s kjdbvjhhsdkjfh" %(xyz,abc))

<class 'float'>
we are in class 4.5 say helloo kjdbvjhhsdkjfh

In [50]:
print("""
Routine:
\t-Eat
\t-Sleep
\t-Repeat""")

Routine:
	-Eat
	-Sleep
	-Repeat

In [63]:
print("Routine:\\t-Eat\t-Sleep\t-Repeat")

Routine:\t-Eat	-Sleep	-Repeat

In [65]:
print('Ab'*10)

AbAbAbAbAbAbAbAbAbAb

In [67]:
print("i want "easy" in quotes")

SyntaxError: invalid syntax (<ipython-input-67-e22034b87248>, line 1)

In [68]:
a1=3
b1=4
print(a1 is b1)

False

In [72]:
a1=4
b1=3
print(a1 is not b1)

True

In [76]:
str = "String Manipulation123"
2print(len(str))

22

In [77]:
x=str.upper()
print(x)

STRING MANIPULATION123

In [78]:
x1=str.lower()
print(x1)

string manipulation123

In [81]:
x2=str.replace('ng','@')
print(x2)

Stri@ Manipulation123

In [82]:
x3=str.count('n')
print(x3)

3

In [91]:
name = "programming"
if name is "programming":
    print("first name")
    print("first if body")
elif name is "applied":
    print("second Name")
else:
    print("none")
print("not in if body")

first name
first if body
not in if body

In [94]:
list1 =[20,3,4]

if 2 in list1:
    print("found")
else:
    print("not found")

not found

In [95]:
c='o'
if c is 'a' or c is 'e' or c is 'i' or c is 'o' or c is 'u':
    print("c is vowel")

c is vowel

In [98]:
vowel = ['a','e','i','o','u']
if c in vowel:
    print("c is vowel")

c is vowel