In [5]:
def my_func():
    #"this is the sample Function"
    print("Sample Function")
#calling of Function
my_func()

Sample Function

In [2]:
my_func()

Sample Function

In [6]:
def my_func_p(fname):
    print("My Fisrt name is",fname)

In [8]:
my_func_p("xyz")
my_func_p("abc")

My Fisrt name is xyz
My Fisrt name is abc

In [9]:
def my_func_p2(fname, lname):
    print(fname + " " + lname)

In [24]:
my_func_p2("abc","xyz")
my_func_p2("Applied","Programming")
my_func_p2(lname="Applied",fname="Programming")

abc xyz
Applied Programming
Programming Applied

In [20]:
def my_func_s(a,b=2):
    s=a+b
    print(s)

In [21]:
my_func_s(3,4)

7

In [22]:
my_func_s(3)

5

In [23]:
my_func_s(b=3,a=4)

7

In [25]:
def my_func_s1(a,b):
    s=a+b
    return s

In [26]:
sum = my_func_s1(2,3)
print(sum)

5

In [27]:
def my_func_s1(a,b):
    s=a+b
    d =a-b
    return (s,d)

In [155]:
a=my_func_s1(2,3)
print(a)

(5, -1)

In [29]:
(a,b)=my_func_s1(2,3)
print(a,b)

5 -1

In [30]:
def my_func_cal(a,b):
    s=a+b
    d =a-b
    p=a*b
    div=a/b
    return (s,d,p,div)

In [31]:
t=my_func_cal(3,2)
print(t)

(5, 1, 6, 1.5)

In [32]:
def my_fun_u(*course):
    print("Course 1 we have in current Semester is", course[0])
    print("Course 1 we have in current Semester is", course[1])

In [35]:
my_fun_u("AP","ABC")

IndexError: tuple index out of range

In [34]:
my_fun_u("ADAA","AP","ABC")

Course 1 we have in current Semester is ADAA
Course 1 we have in current Semester is AP

In [36]:
def evenodd(n):
    if(n%2==0):
        print("Even")
    else:
        print("odd")

In [37]:
evenodd(2)
evenodd(19)

Even
odd

In [38]:
lst_number=[1,2,3,4]
t_number = (1,2,3,4)

In [39]:
print(lst_number)
print(t_number)

[1, 2, 3, 4]
(1, 2, 3, 4)

In [40]:
print(type(lst_number))
print(type(t_number))

<class 'list'>
<class 'tuple'>

In [41]:
dir(lst_number)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [42]:
dir(t_number)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [43]:
my_l = []

In [44]:
my_ml = [1,'hello',3.4]

In [83]:
my_nl = [1,2,[3,4]]

In [84]:
print(my_l)
print(my_ml)
print(my_nl)

[]
[1, 'hello', 3.4]
[1, 2, [3, 4]]

In [119]:
print(my_nl[0])
print(my_nl[1])
print(my_nl[2])
print(my_nl[2][0])
print(my_nl[2][1])

1
2
[3, 4]
3
4

In [49]:
print(lst_number)
lst_number.pop()
print(lst_number)

[1, 2, 3, 4]
[1, 2, 3]

In [50]:
x=99
lst_number.append(x)
print(lst_number)

[1, 2, 3, 99]

In [51]:
x=9
lst_number.append(x)
print(lst_number)

[1, 2, 3, 99, 9]

In [54]:
lst_number[4]

9

In [55]:
lst_number[-1]

9

In [56]:
lst_number[-3]

3

In [57]:
lst_number[0:3]

[1, 2, 3]

In [58]:
lst_number[0:4]

[1, 2, 3, 99]

In [59]:
lst_number[:4]

[1, 2, 3, 99]

In [62]:
lst_number[0:]

[1, 2, 3, 99, 9]

In [63]:
lst_number[:4]

[1, 2, 3, 99]

In [68]:
lst_number[]

[]

In [69]:
lst_number[-3:1]

[]

In [70]:
lst_number[0:4:2]

[1, 3]

In [109]:
print(len(lst_number))
print(min(lst_number))
print(max(lst_number))

5
1
99

In [113]:
sl=["Applied"]
print(sl)
print(sl[0])
print(sl[0][6])

['Applied']
Applied
d

In [102]:
l = ["happy",[2,0,1,5]]

In [99]:
print(my_nl[2][1])

4

In [121]:
for x in lst_number:
    if(x>10):
        print(x)

99

In [123]:
print(lst_number)
del lst_number[2]
print(lst_number)

[1, 2, 99, 9]
[1, 2, 9]

In [125]:
print(lst_number)
del lst_number[1:]
print(lst_number)

[1, 2, 9]
[1]

In [127]:
print(lst_number)
del lst_number

NameError: name 'lst_number' is not defined

In [128]:
lst=[1,2,3,4,5,6,7,8,9]

In [129]:
lst.remove(1)

In [130]:
print(lst)

[2, 3, 4, 5, 6, 7, 8, 9]

In [131]:
lst.remove(5)
print(lst)

[2, 3, 4, 6, 7, 8, 9]

In [133]:
lst.clear()
print(lst)

[]

In [134]:
lst=[1,2,3,4,5,6,7,8,9]

In [137]:
lst[2:4]=[]

In [138]:
print(lst)

[1, 2, 6, 7, 8, 9]

In [139]:
lst[2:4]=[]
print(lst)

[1, 2, 8, 9]

In [140]:
print(lst.index(8))

2

In [141]:
print(lst.index(1))

0

In [146]:
lsst=[1,5,6,3,4,7,99,2]
lsst.sort()
print(lsst)

[1, 2, 3, 4, 5, 6, 7, 99]

In [147]:
lsst.reverse()
print(lsst)

[99, 7, 6, 5, 4, 3, 2, 1]

In [149]:
print(1 in lsst)
print(81 in lsst)

True
False

In [151]:
t=(1,2,3,4)
t1 = (1,"applied",3.5)

In [152]:
print(t)

(1, 2, 3, 4)

In [153]:
print(t1)

(1, 'applied', 3.5)

In [156]:
print(t[0])

1

In [157]:
print(t[-1])

4

In [160]:
print(t[-2:-1])

(3,)

In [161]:
print(t[:])

(1, 2, 3, 4)

In [164]:
print(t[-4:-1])

(1, 2, 3)

In [165]:
del t

In [166]:
print (t)

NameError: name 't' is not defined